POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
DATABASE_URL=
NEXTAUTH_SECRET=
NEXTAUTH_URL=
PORT=
PRISMA_STUDIO_PORT=
# Limites de Memória RAM para os Containers
POSTGRES_MEM_LIMIT=
NEXT_APP_MEM_LIMIT=
PORTAINER_MEM_LIMIT=
PRISMA_STUDIO_MEM_LIMIT=